header,footer{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 50px;
}
body{    
    text-align: center;
    margin: 0px;
    padding: 0px;
}
div {
    position: relative;
    padding: 0;
    margin: 0;
  }
 
.logo {
    position: absolute;
    left: 14.5%;
    width: 7%;
    height: 20%;
}
.img{
    width: 70%;
    height: 50%;
}
.button{
    margin: auto;
    text-align: center;
    background-color: brown;
    width: 70%;
    height: 4em;
}
.button td{
 
    padding: 0;
    margin: 0;
    color: white;
}
.button td:hover{
    background-color: black;
}
button {
    height: 3em;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: brown; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
button:hover{
    background-color: black;
}
table{
    width: 70%;
    margin: auto;
    text-align: center;
}
p{
    font-size: 0.7em;
}
td img{
    height: 14em;
    width: 14em;
}
